.post-container {
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    position: relative;
    margin: 20px 0;
}

.user-profile span {
    font-size: 13px;
    color: #9a9a9a;
}

.post-text {
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

.post-text span {
    color: #626262;
    font-weight: 500;
}

.post-text a {
    color: #1876f2;
    text-decoration: none;
}

.post-img {
    width: 100%;
    height: 28vw;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons {
    display: flex;
}

.activity-icons div svg {
    font-size: 1.5rem;
    margin-right: 10px;
}

.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.post-profile-icon {
    display: flex;
    align-items: center;
}

.post-profile-icon img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-row a {
    color: #9a9a9a;
}

.likeListContainer {
    padding: 1rem;
    position: absolute;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    background: white;
}

.likeListContainer::-webkit-scrollbar {
    display: none;
}

.hideLikeListContainer {
    display: none;
}

.showLikeListContainer {
    display: block;
}

.cross {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.writeComment {
    display: flex;
    width: 100%;
    margin: 1rem 0;
}

.writeComment form {
    display: inherit;
    width: inherit;
}

.writeComment input {
    width: 100%;
    border: none;
    padding: 0.6rem 1rem;
    outline: none;
    font-size: 1.1rem;
}

.writeComment button {
    background-color: var(--nav-color);
}

.input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.input input {
    width: 88%;
    padding: 8px 13px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width:900px) {
    .post-img {
        height: 55vw;
    }
}

@media screen and (max-width:560px) {
    .activity-icons {
        width: 80vw;
    }

}

@media screen and (max-width:400px) {
    .activity-icons {
        width: 70vw !important;
    }

}